@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out both;
  }

  @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateX(-50px);
      }
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
  }
  .border {
    border: 2px solid #068ce6;
    padding: 0 12px 0px 6px;
  }
 
}